.weather-condition{
  display: flex;
  padding-inline: 50px;
}
.weather-list{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 35vh;
  margin-top: 50px;
}
.app{
  background-color: #202124;
  height: 100vh;
  color: #fff;
  font-weight: bold;
}
.city{
  display: flex;
  justify-content: center;
  padding-top: 50px;
}
.city-select{
  padding: 10px;
  width: 200px;
}

.active{
  background-color: #303134;
  border-radius: 12px;
}
.today-weather{
  display: flex;
  padding-inline: 50px;
  justify-content: space-between;
  align-items: center;
}
.left{
  display: flex;
  justify-content: center;
}
.left span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}
.left img{
  width: 120px;
}
.right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-block: 50px;
}
.right .city-name{
  font-size: 50px;
}
.right .weather-name{
  font-size: 20px;
}